body {
  font-family: "Roboto", sans-serif;
  background: #FAF8EF;
}

h1 {
  font-weight: 900;
  color: #F58360;
  text-align: center;
}

.btn {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  color: white;
  background: #F58360;
  border: none;
  border-radius: 8px;
  width: 192px;
  height: 48px;
  text-align: center;
  margin-left: calc(50% - 96px);
  transition: 0.2s;
  outline: 0;
}

.btn:active {
  background: #E47250
}

.subtitle {
  text-align: center;
  color: #aaa;
  font-size: 0.85rem;
  margin-bottom: 32px;
  margin-top: -16px
}

h3 {
  text-align: center;
  color: #C7C5AC;
  font-size: 1.5rem;
}

.footer {
  text-align: center;
  color: #dad8c2;
  font-size: 1rem;
  margin: 48px
}

.footer a {
  text-decoration: none;
  color: #C7C5AC
}

.footer a:hover {
  text-decoration: underline
}

.grid {
  margin-top: 64px;
  padding: 8px;
  border-radius: 4px;
  background: #bbada0;
  width: 400px;
}

.grid-row {
  display: flex;
}

.tile {
  position: relative;
  width: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 2rem;
  color: #fff;
  border-radius: 4px;
  transition: 0.1s;
  margin: 4px;
}

.tile:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}